/* Carousel section Start*/
#top-carousel .carousel-item{
    overflow: hidden;
}
#top-carousel img{
    width: 100%;
    height: 80vh;
    object-fit: cover;
}

.carousel-caption {
    background: rgba(0, 0, 0, 0.2);
    text-shadow: 5px 5px 10px #000;
    font-size: var(--h-primary);
    font-family: var(--heading-font); 
    font-weight: 700;
    word-spacing: 5px;
    /* letter-spacing: 1px; */
    /* right: 25%; */
    bottom: 3rem;
    /* left: 25%; */
    
}


@media only screen and (max-width:768px) {
    #top-carousel img{
        height: 100vh;
    }
    .carousel-caption {
        font-size: 1.5rem;
    }
}
@media only screen and (max-width:576px) {
    #top-carousel img{
        height: 75vh;
    }
    .carousel-caption {
        right: 10%;
        left: 10%;
        font-size: 1.2rem;
    }
}

/* Carousel section End*/
/* About Digital Garden Start */
#dgarden .image {
    /* box-shadow: -50px -50px 2px #b4c7e7; */
    border-radius: 0.5rem;
    -webkit-box-shadow: 5px 5px 15px rgb(143, 143, 143);
    box-shadow: 0 0 15px rgb(143, 143, 143);
    width: 100%;
    height: 650px;
    object-fit: cover;
    z-index: 1000;
  }

  @media only screen and (max-width:768px) {
   #dgarden .image{
       height: 400px;
   }
}

/* About Digital Garden End */


/* Auto Play Video Start*/

#autoplay{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
#autoplay .embed-video{
    width: 100%;
    height: 100vh;
}
#autoplay video{

    width: 100%;
    height: 100%;
    /* pointer-events: none; */
}
#autoplay .col{
    z-index: 1;
    position: relative;
    
    
}

#autoplay .video-des 
{
    position: absolute;
    z-index: 1;
    max-width: 0 auto;
    margin: 0 auto;
    text-align: center;
    color: rgb(255, 255, 255);
    font-family: var(--heading-font); 
    font-weight: 700;
    text-shadow: 5px 5px 10px #000;

}
#autoplay .video-des span{
    font-size: 3rem;

}

#autoplay:active:hover{
    color: transparent;
}
@media only screen and (max-width:1200px) {
    #autoplay .video-des span{
        font-size: 2.5rem;
    
    }
    #autoplay .embed-video{
        width: 100%;
        height: 100%;
    }
}
@media only screen and (max-width:992px) {
    #autoplay .video-des span{
        font-size: 2rem;
    
    }
}
@media only screen and (max-width:768px) {
    #autoplay .video-des span{
        font-size: 1.5rem;
    }
    
}
@media only screen and (max-width:576px) {
    #autoplay .video-des span{
        font-size: 1rem;
    
    }
}

/* Auto play video End */


/* Flora Page Quick Links Start */
.card-img {
    background: black;
    overflow: hidden;
    position: relative;
  }

  .qlinkimg {
    width: 100%;
    height: 450px;
    object-fit: cover;
    cursor: pointer;
    transition: all 1s ease-in;
    opacity: 0.5;
  }

  .qlinkimg:hover {
    transform: scale(1.2);
    opacity: 0.2;
  }

  .card-img:hover .image_name {
    margin-bottom: 40px;
  }

  .image_name {
    position: absolute;
    margin: auto 20px;
    margin-bottom: 20px;
    bottom: 30px;
    left: 30px;
    z-index: 20;
    color: white;
    font-weight: 200;
    font-family: var(--heading-font); 
    font-size: var(--h-secondary);
    transition: all 0.3s ease-in;
    text-shadow: 5px 10px 10px #000;
  }

  @media (max-width: 767px) {
    .qlinkimg {
        height: 400px;
      }
    .floraquick .carousel-inner .carousel-item>div {
      display: none;

    }

    .floraquick .carousel-inner .carousel-item>div:first-child {
      display: block;
    }
  }

  .floraquick .carousel-inner .carousel-item.active,
  .floraquick .carousel-inner .carousel-item-next,
  .floraquick .carousel-inner .carousel-item-prev {
    display: flex;
  }

  /* medium and up screens */
  @media (min-width: 768px) {
    
    .floraquick .carousel-inner .carousel-item-end.active,
    .floraquick .carousel-inner .carousel-item-next {
      transform: translateX(25%);
    }

    .floraquick .carousel-inner .carousel-item-start.active,
    .floraquick .carousel-inner .carousel-item-prev {
      transform: translateX(-25%);
    }
  }

  .floraquick .carousel-inner .carousel-item-end,
  .floraquick .carousel-inner .carousel-item-start {
    transform: translateX(0);
  }
/* Flora Page Quick Links End */


/* Named Places Start*/
#bottom-carousel .carousel-item{
    overflow: hidden;
}
#bottom-carousel img{
    width: 100%;
    height: 100vh;
    object-fit: cover;
}
#bottom-carousel .carousel-caption{
    right: 30%;
    left: 30%;

}


@media only screen and (max-width:992px) {
    #bottom-carousel img{
        height: 50vh;
    }
}
@media only screen and (max-width:768px) {
    
    
}
@media only screen and (max-width:576px) {
    
}
/* Named Places End*/
