nav{
    background-color: var(--primary-color);
    box-shadow: 5px 5px 10px 5px rgba(143, 143, 143, 0.205);
}
#sfc_logo img{
    width: 296px;
    height: 100px;
}
#dg_logo img{
    width: 243px;
    height: 100px;
    /* width: 107px;
    height: 100px; */
}
.heading{
    font-family: var(--heading-font);
    font-weight: 700;
    font-size: var(--h-primary);
    text-transform: uppercase;
    color: white;
}
.sidebar-nav ul li a {
    text-decoration: none;
    display: block;
    padding: 6px 10px;
    transition: 0.5s;
    /* font-weight:400; */
    /* background-color:var(--primary-color); */

}
.sidebar-nav ul li a:hover {
    background-color: #eeeeee;
    /* background-color:var(--primary-color); */
    border-radius: 4px;
}

.sidebar-nav .offcanvas ul li a span {
    color: var(--secondary-color);
    font-family: var(--heading-font);
    font-size: 1.6rem;
    position: relative;
    top: -4px;
    transition: 0.5s;
    font-weight:400;
}
.sidebar-nav .offcanvas.show ul li a:hover span {
    padding-left: 10px;

}

.sidebar-nav .offcanvas {
    width: 300px;
    border: none;
    height: 100%;
}

.offcanvas .offcanvas-body{
   padding-top: 45%;
   padding-bottom: 45%;
   width: 100%;

}
/* .sidebar-nav .dropdown-toggle::after {
    position: relative;
    top: 3px;
} */




/* Table Section Start*/
table{
	border-radius:1rem;
}
td,th{
	 white-space: nowrap;
	/*  overflow: hidden; */
	 
}

.table-responsive{
	max-height:500px;
}

th{
	top:0;
	position:sticky;
	z-index:2;	
}
th:nth-child(-n+2)
{
	z-index:3;
}
th:nth-child(1),td:nth-child(1) {
    position: sticky;
    left: 0;
}
th:nth-child(2),td:nth-child(2)
{
	position:sticky;
	left:81px;
}
td:nth-child(-n+2)
{
	 background:rgb(230,230,230); 
	
}

/* Table Section Start*/

